{
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "semi": true,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "tabWidth": 4,
  "htmlWhitespaceSensitivity": "css"
}